:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

.container h1 {
  font-size: 96px;
  line-height: 1.5;
}

.container h2 {
  font-size: 64px;
  font-weight: bold;
  color: black;
  font-family: var(--heading-font-family);
}
body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}
p {
  font-family: "poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.about-section-content {
  margin: 30px;
}

.about-section {
  padding: 160px 20px;
}

.btn.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.projectDescription {
  padding: 120px 60px;
  text-align: center;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 44px;
    text-align: center;
    line-height: 2;
  }

  .hero p {
    text-align: center;
  }

  .container h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .projectDescription {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 80px 10px;
  }

  .about-section {
    padding: 0px;
    text-align: center;
  }
}
